<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>

        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>

<div class="container">
    <div class="row justify-content-center">
    
    <div class="col-md-12">
        <div class="row justify-content-center menuprincipal" >
            <div class="card  text-center">
                <div class="card-header">
                    Menu
                </div>
                <div class="card-body">

                    <div class="container">

                        <div class="row justify-content-center">
                            <div class="col-md-3 ">
                                <div class="card ">
                                    <div class="card-body ">
                                        <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
                                            
                                            <div class="card-body">
                                                <h5 class="card-title">Usuarios</h5>
                                                <a href="#" class="btn btn-success">ver</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="card ">
                                    <div class="card-body">
                                        <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
                                           
                                            <div class="card-body">
                                                <h5 class="card-title">Cursos</h5>
                                                <a href="#" class="btn btn-success">ver</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="card ">
                                    <div class="card-body">
                                        <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
                                           
                                            <div class="card-body">
                                                <h5 class="card-title">Estudiantes</h5>
                                                <a href="#" class="btn btn-success">ver</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="card ">
                                    <div class="card-body">
                                        <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
                                           
                                            <div class="card-body">
                                                <h5 class="card-title">Docentes</h5>
                                                <a href="#" class="btn btn-success">ver</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="card ">
                                    <div class="card-body">
                                        <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
                                            
                                            <div class="card-body">
                                                <h5 class="card-title">Publicaciones</h5>
                                                <a href="#" class="btn btn-success">ver</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                         
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
    </div>
</div>