

<div class="sidenav">

   
    <div class="login-main-text">
       <h1>English Academy</h1>
       <h3>Login Page</h3>
       <p>Resgistrate para acceder.</p>
    </div>
 </div>
 <div class="main">
 
 <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">English Academy</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Registrarse <span class="sr-only">(current)</span></a>
        </li>
 
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
      </form>
    </div>
  </nav>
    <div class="col-md-10 col-sm-12">
       <div class="login-form">
 
          <div class="row justify-content-center">
             <div class="col-md-10">
                <div class="card">
                   <div class="card-header">Iniciar Sesion</div>
                   <div class="card-body">
 
                      <form>
                         <div class="form-group">
                            <label>User Name</label>
                            <input type="text" class="form-control" placeholder="User Name">
                         </div>
                         <div class="form-group">
                            <label>Password</label>
                            <input type="password" class="form-control" placeholder="Password">
                         </div>
                         <button type="submit" class="btn btn-black">Login</button>
                         <button type="submit" class="btn btn-secondary">Register</button>
                      </form>
                   </div>
                </div>
             </div>
          </div>
 
 
       </div>
    </div>
 </div>