<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>

        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>

<div class="container">
    <div class="row justify-content-center">
    <div class="col-md-3">

        <div class="card menuprincipal text-center">
            <div class="card-header">
                Menu
            </div>
            <div class="card-body">

        <ul class="list-group">
            <li class="list-group-item">Principiate</li>
            <li class="list-group-item">Intermedio</li>
            <li class="list-group-item">Avanzado</li>
            <li class="list-group-item">Intensivo</li>
            <li class="list-group-item">Phonics</li>
          
           
        </ul>

        </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="row justify-content-center">
            <div class="card menuprincipal text-center">
                <div class="card-header">
                    Principiante
                </div>
                <div class="card-body">

                    <div class="container">

                        <div class="row justify-content-center">
                            <div class="col-md-6">
                                <div class="card ">
                                    <div class="card-body">
                                        <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
                                            <div class="card-header">Modulo 1</div>
                                            <div class="card-body">
                                                <h5 class="card-title">Seccion 1</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card ">
                                    <div class="card-body">
                                        <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
                                            <div class="card-header">Modulo 2</div>
                                            <div class="card-body">
                                                <h5 class="card-title">Seccion 2</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card ">
                                    <div class="card-body">
                                        <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
                                            <div class="card-header">Modulo 3</div>
                                            <div class="card-body">
                                                <h5 class="card-title">Seccion 3</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card ">
                                    <div class="card-body">
                                        <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
                                            <div class="card-header">Modulo 4</div>
                                            <div class="card-body">
                                                <h5 class="card-title">Seccion 4</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card ">
                                    <div class="card-body">
                                        <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
                                            <div class="card-header">Modulo 5</div>
                                            <div class="card-body">
                                                <h5 class="card-title">Seccion 5</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card ">
                                    <div class="card-body">
                                        <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
                                            <div class="card-header">Modulo 6</div>
                                            <div class="card-body">
                                                <h5 class="card-title">Seccion 6</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card ">
                                    <div class="card-body">
                                        <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
                                            <div class="card-header">Modulo 7</div>
                                            <div class="card-body">
                                                <h5 class="card-title">Seccion 7</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card ">
                                    <div class="card-body">
                                        <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
                                            <div class="card-header">Modulo 8</div>
                                            <div class="card-body">
                                                <h5 class="card-title">Seccion 8</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
    </div>
</div>