.card-columns {
    @include media-breakpoint-only(lg) {
      column-count: 4;
    }
    @include media-breakpoint-only(xl) {
      column-count: 5;
    }
  }


  body {
    font-family: "Lato", sans-serif;
}



.main-head{
    height: 150px;
    background: #FFF;
   
}

.sidenav {
    height: 100%;
    background-image: url('https://cdn.vox-cdn.com/thumbor/4Fvn-rggorTOwL2cGEPazHPwWmM=/0x0:6000x4000/1200x800/filters:focal(2520x1520:3480x2480)/cdn.vox-cdn.com/uploads/chorus_image/image/67758941/GettyImages_1035462384.0.jpg');
    overflow-x: hidden;
    padding-top: 20px;
   
    box-shadow: 10px 5px 15px 5px grey;
 
}


.main {
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
}

@media screen and (max-width: 450px) {
    .login-form{
        margin-top: 10%;
       
 
    }

    .register-form{
        margin-top: 10%;
    }
}

@media screen and (min-width: 768px){
    .main{
        margin-left: 40%; 
    }

    .sidenav{
        width: 40%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
    }

    .login-form{
        margin-top: 25%;
        margin-left: 15%;
        
    }

    .register-form{
        margin-top: 10%;
    }
}


.login-main-text{
    margin-top: 20%;
    padding: 60px;
    color: #fff;
}

.login-main-text h2{
    font-weight: 500;
}

.btn-black{
    background-color: #000 !important;
    color: #fff;
}


.shadow-box{
    box-shadow: 10px 5px 15px 5px grey;

}