

<div class="sidenav">

   
    <div class="login-main-text">
       <h1>English Academy</h1>
       
       <p>Por que aprender es divertido.</p>
    </div>
 </div>
 <div class="main">
 

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">Start Bootstrap</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item ">
            <a class="nav-link" href="#">Home
            
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Acerca de nosotros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Registrarse</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>


    <div class="col-md-10 col-sm-12">
       <div class="login-form">
 
          <div class="row justify-content-center">
             <div class="col-md-10">
                <div class="card shadow-box"  >
                   <div class="card-header">Iniciar Sesion</div>
                   <div class="card-body">
 
                      <form>
                         <div class="form-group">
                            <label>User Name</label>
                            <input type="text" class="form-control" placeholder="User Name">
                         </div>
                         <div class="form-group">
                            <label>Password</label>
                            <input type="password" class="form-control" placeholder="Password">
                         </div>
                         <button type="button" class="btn btn-black" (click)="iniciarSesion()">Iniciar Sesion</button>
                         <button type="button" class="btn btn-secondary">Registrar</button>
                      </form>
                   </div>
                </div>
             </div>
          </div>
 
 
       </div>
    </div>
 </div>